{{ $image := .image }}

<!-- variables used for img tag -->
{{ $imgSrc := "" }}
{{ $imgSrcSet := slice }}

<!-- uses settings from config.toml depending on orientation -->
{{ $widths := $.Site.Params.landscapePhotoWidths }}
{{ if gt $image.Height $image.Width }}
  {{ $widths = $.Site.Params.portraitPhotoWidths }}
{{ end }}

<!--
  Add URL for each width to $imgSrcSet variable
  format: "/path/img_1000.jpg 1000w,/path/img_500.jpg 500w"
  Note: the first URL is used as "fallback" src in $imgSrc.
-->
{{ range $widths }}
  {{ $srcUrl := (printf "%dx" . | $image.Resize).RelPermalink }}
  {{ if eq $imgSrc "" }}{{ $imgSrc = $srcUrl }}{{ end }}
  {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) }}
{{ end }}
{{ $imgSrcSet = (delimit $imgSrcSet ",") }}

<!-- Format additional HTML attributes -->
{{ $attributes := slice }}
{{ range $name, $value := .attrs }}
  {{ $attributes = $attributes | append (printf "%s=%q" $name $value) }}
{{ end }}
{{ $attributes = (delimit $attributes " ") }}

<img src="{{ $imgSrc }}" srcset="{{ $imgSrcSet }}" {{ print $attributes | safeHTMLAttr }}>
