<header>
    <nav role="navigation">
        <div id="menuToggle">
            <input id="hamburger" type="checkbox" />
            <label for="hamburger">
                <p class="hamburger-menu-text">menu</p>
                <span class="one-span"></span>
                <span class="two-span"></span>
                <span class="three-span"></span> 
            </label>
            <div id="menu">
                <ul class="menu-list">
                    <li><a href="{{.Site.BaseURL}}">Guides</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/blog/">Blog</a></li>         
                </ul>
            </div>
        </div>
        <div id="flex-menu">
            <ul class="menu-list-desktop">
                <li><a href="{{.Site.BaseURL}}">Guides</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/blog/">Blog</a></li> 
            </ul>
        </div>  
    </nav>
    <div class='logo'>
        <a href="{{.Site.BaseURL}}" class="lighthouse-header-logo">Perfect Lighthouse Scores</a>
    </div>
</header>